@import url('https://fonts.googleapis.com/css?family=Lato');


/* ------------ ONSIES CSS ----------------------- */
.w25{width: 25% !important;}
.w55{width: 55% !important;}
.w35{width: 35% !important;}
.w80{width: 80% !important;}
.mr10{margin-right: 8% !important;}
.w50{margin-right: 25% !important; margin-left: 25% !important;}
.inv_label{width: 40% !important;}
.body_report{padding: 5% !important;}
.btn{border: 1px solid black !important;}
.dropdown a:hover {background-color: rgb(223, 76, 76) !important;} 
.dropbtn:hover, .dropbtn:focus {background-color: #3e8e41;}
.mid{text-align: center;}
.tinyText {font-size:10px;}
.blackback{background-color: #90aecc !important;}
.btn-success{background-color: #28a745;}
.checkID{display: inline-block !important;}
.checkIDInput{width: 150% !important;}
.centrize {text-align: center !important;}
.optional{border: 1.5px solid black !important;}
.mandatory{border: 1.5px solid red !important;}
/* input:not(:placeholder-shown) {border-color: hsl(0, 76%, 50%) !important;}
input:not(:placeholder-shown) {border-color: hsl(120, 76%, 50%) !important;} */
.inline{display: inline-block !important; display:flex; flex-direction: row;}
.invi{display: none !important}
/* ------------ General Application -------------- */
hr
{
    width: 65% !important;
    border-top: 1.8px solid white !important;
}
.sideBtn
{
    border: 1.5px solid black !important;
    margin: 1% !important;
    margin-right: 3% !important;
    margin-left: 3% !important;
}
.bodyNone
{
    text-align: center;
    background-image: linear-gradient(rgb(255, 191, 128), rgb(255, 153, 51)) !important;
    background-attachment: fixed;
    text-align: center !important; 
    height: 100% !important; 
    width: 100% !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
}
/* ------- BODIES AND CONTAINERS ---- */
.bodyRed
{
    text-align: center;
    background-image: linear-gradient(rgb(235, 154, 154), rgb(207, 73, 73));
    background-attachment: fixed;
}
.volunteer-page-body, .report-page-body, .inventory-page-body, .admin-page-body, .index-page-body {
    text-align: center;
    background-image: white;
    background-attachment: fixed;
    font-family: 'Optima' !important;
}
.page-sub-container {
    background-color: rgba(255, 255, 255, 0.801) !important;
    border-radius: 1.5px !important;
    border: 0.5px solid black !important;
    width: 80% !important;
    margin-left: 10% !important;
    padding: 1.5% !important;
    text-align: center;
}
.footer
{
    position: absolute;
    bottom: 2.5% !important;
    width: 100%;
    height: auto; 
    background-color: rgb(251, 223, 223);
    padding-top: 1% !important;
    text-align: center;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}
.shahaf-signature {
    font-size: 70% !important;
    font-weight: bolder !important;
}
.w20
{
    margin-right: 40%;
    margin-left: 40%;
}
.lpcsgLogo
{
    margin-right: 2%;
    height: 85%; 
    border-radius: 150px;
    border: 2px solid black;
}
.lpcLogo
{
    border-radius: 5px;
    height: 85% !important;
}
/* ------------ Registration Page ---------------- */
.submit-admin-login {
    background-color: #28a745 !important;
    width: 90% !important;
    padding: 0.9% 0% 0.9% 0% !important;
    text-transform: uppercase;
    transition: 0.3s !important;
    color: white !important;
    border: 0.5px solid white !important;
    margin-bottom: 0.45% !important;
}

.submit-admin-login:hover {
    padding: 1.25% 0% 1.25% 0% !important;
    width: 95% !important;
    margin-bottom: 0% !important;
}










.operational
{
    margin-top: 2% !important;
    margin-right: 20% !important;
    margin-left: 20% !important;
    background-color: rgba(255, 228, 227, 0.42) !important;
    border: 3px solid black !important;
    margin-bottom: 4% !important;
}
#myInput:focus {outline: 3px solid #ddd;}
#myInput /* search box */
{
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 2px solid rgb(68, 5, 5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content 
{    
    background-color: #f6f6f6;
    opacity: 0.75;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header
{
    padding-top: 2%;
    padding-right: 3% !important;
    padding-left: 3% !important; 
    border-bottom: 1px solid black;
    background-color: rgba(193,66,66, 0.82);
    height: 15% !important;
}
.headerTitle
{
    font-family: 'Lobster', cursive !important; 
    margin-left: 5%;
}
.page-container {
    padding-top: 6% !important;
}
.container
{ 
    height: 100% !important;
    background: url('otherFiles/pics/lpc.jpg') !important; 
    text-align: center !important; 
    width: 100% !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
    background-attachment: fixed !important;
}
.infoDiv
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 18%;
    margin-right: 18%;
}
#myList li:nth-of-type(1n+7){display: none;}
/* ------------ Admin Page ----------------------- */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1e3;
    position: fixed;
    padding-top: 8% !important;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-bottom: 0.3px solid rgb(102, 124, 246) !important;
    border-top: 0.3px solid rgb(102, 124, 246) !important;
    transition: all 0.25s linear !important;
    outline: none;
}

.sidebar a.active {
    background-color: rgb(102, 124, 246) !important;
    color: white !important;
    outline: none;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(177, 189, 253);
    color: white !important;
    outline: none;
    font-weight: bolder !important;
    font-size: 105% !important;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.change-pw-input, .choose-new-market-date {
    border: 0px solid black !important;
    background-color: transparent !important;
    background: transparent !important;
    border-bottom: 3px solid rgb(102, 124, 246) !important;
    width: 28% !important;
    margin-right: 2% !important;
    padding: 0.5% 1% 0.75% 0.5%;
    transition: 0.3s !important;
}   

.change-pw-input:focus, .choose-new-market-date:focus{
    outline: none !important;
    width: 32% !important;
    font-weight: bolder !important;
    font-size: 110% !important;
    transition: all 0.35s ease-in-out !important;
}

.submit-pw-change-btn, .submit-admin-market-option, .submit-new-market-date {
    background-color: #28a745 !important;
    width: 90% !important;
    padding: 0.9% 0% 0.9% 0% !important;
    text-transform: uppercase;
    transition: 0.3s !important;
    color: white !important;
    border: 0.5px solid white !important;
    margin-bottom: 0.45% !important;
}

.submit-pw-change-btn:hover, .submit-admin-market-option:hover, .submit-new-market-date:hover {
    padding: 1.25% 0% 1.25% 0% !important;
    width: 95% !important;
    margin-bottom: 0% !important;
}

.sub-admin-page-container {
    /* background-color: rgba(255, 255, 255, 0.801) !important; */
    border-radius: 1.5px !important;
    border: 0.5px solid black !important;
    width: 90% !important;
    padding-top: 2%;
    margin-left: 5% !important;
    padding: 2.5% 0.5% 0.5% 0.5% !important;
    text-align: center;
}

#market-actions .admin-options-list{
    list-style: none;
    margin: 0;
    padding: 0 20% 0 20% !important;
    overflow: auto;
}

.admin-options-list .admin-options-list-item{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 20% !important;
}

.admin-options-list .admin-options-list-item .admin-option{
    position: absolute;
    visibility: hidden;
}

.admin-options-list .admin-options-list-item .admin-option-label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.admin-options-list .admin-options-list-item:hover .admin-option-label{
    color: #303030 !important;
    font-weight: bolder !important;
}

.admin-options-list .admin-options-list-item .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 3;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
}

.admin-options-list .admin-options-list-item:hover .check {
    border: 5px solid #303030 !important;
}

.admin-options-list .admin-options-list-item .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.admin-option:checked ~ .check {
    border: 5px solid #0DFF92;
}

.admin-option:checked ~ .check::before{
    background: #0DFF92;
}

.admin-option:checked ~ .admin-option-label{
    color: #0DFF92;
    font-size: 165% !important;
    font-weight: bolder !important;
}
/* ------------ Report Page ---------------------- */
.report_box_class
{
    text-align: center !important;
    border: 2px solid black !important;
    border-radius: 5px !important;
    padding: 1% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    background-color: white !important;
}
.student-status-check{
    color: rgb(34, 226, 0) !important;
    background-color: rgb(186, 212, 192) !important;
    width: auto !important;
    border-radius: 150px;
    text-shadow: 0.3px 0.3px black;
}
.student-status-uncheck{
    color: rgb(219, 0, 0) !important;
    background-color: rgb(223, 161, 161) !important;
    width: auto !important;
    border-radius: 150px;
    text-shadow: 0.3px 0.3px black;
}
.request-pdf-report-form {
    width: 100% !important;
}
.request-pdf-report-btn {
    background-image: linear-gradient(to right, #2f38af 0%, #6f7dcf 51%, #2f38af 100%) !important;
    text-transform: uppercase;
    padding: 1% 0% 1% 0% !important;
    transition: 0.3s;
    background-size: 200% auto;
    color: white !important;
    border-radius: 3px !important;
    border: 1.25px solid black !important;
    width: 100% !important;
    font-weight: bolder !important;
}
.request-pdf-report-btn:hover{
    background-position: right center !important;
    transition: all 0.3s ease-in-out !important;
}
.select-markets {
    padding: 0.75% 2.5% 0.75% 2.5% !important;
    border: 0px solid black !important;
    border-bottom: 3px solid rgb(102, 124, 246) !important;
    width: 30% !important;
    text-align: center;
    transition: 0.5s !important;
}
.select-markets:focus {
    outline: none !important;
    width: 45% !important;
    border-bottom: 3px solid rgb(49, 55, 144) !important;
    transition: all 0.35s ease-in-out !important;
    margin-bottom: 20px !important;
}
.select-markets>option {
    background-color: white;
    border-radius: 2px solid rgb(49, 55, 144) !important;
    color: rgb(49, 55, 144) !important;
}
/* ------------ Inventory Page ------------------- */
.inv_box_class
{
    text-align: center !important;
    border: 1.5px solid black !important;
    border-radius: 4px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    background-color: rgba(255, 246, 246, 0.911) !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    margin-top: 2% !important;

}
.inv_edit_btn-label {
    text-align: center !important;
}
.inv_edit_btn {
    text-align: center !important;
    border: 0px solid black !important;
    border-radius: 150px !important;    
}
.add-inventory-input {
    border: 0px !important;
    border-bottom: 3px solid black !important;
    background-color: transparent !important;
}
.add-inventory-input:focus {
    outline: none !important;
}
.inv_input
{
    height: 5% !important;
    border: 1px solid rgba(50, 50, 85, 0.692) !important;
    border-radius: 4px !important;
    padding-right: 1% !important;
    padding-left: 1% !important;
    margin-right: 3% !important;
    width: 20% !important;
}
.inv_table
{
    text-align: left !important;
    padding-left: 2% !important;
}
.int_input_btn
{
    height: 4% !important; 
    padding: 1% !important; 
    margin-bottom: 50% !important;
}

/* ---------- NAVIGATION BAR ---------------- */
.nav-bar {
    width: 100% !important;
    margin-top: 0% !important;
    padding-left: 3.5% !important;
    padding-top: 1.75% !important;
    background-color: black !important;
    height: 8.5% !important;
    overflow: hidden;
    background-color: #121212;  
    position: fixed;
    top: 0;
    z-index: 5 !important;}
.nav-bar-option {
    color: white;
    float: left;
    margin-right: 3% !important;
    width: auto !important;
    border:0px !important;
    padding-right: 2.25% !important;
    padding-left: 2.25% !important;
    font-weight: bolder;
    font-size: 120% !important;
    transition: 0.42s !important;
    background-image: black;
    padding-bottom: 1% !important;}
.nav-bar-option:hover {
    border-bottom: 1.25px solid transparent;
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.55s ease-in-out !important;
    transform: 0.42s !important;
    outline: none !important;}
.nav-bar-title {
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    float: right !important;
    margin-right: 5% !important;
    width: auto !important;
    border:0px !important;
    padding-right: 2.25% !important;
    padding-left: 2.25% !important;
    font-weight: bolder;
    font-size: 150% !important;
    background-color: black;
    padding-bottom: 10% !important;}
/* ---------- VOLUNTEERS PAGE ---------------- */
.add-volunteer-input {
    border: 0px !important;
    border-bottom: 3px solid black !important;
    background-color: transparent !important;
}
.add-volunteer-input:focus {
    outline: none !important;
}
.add-volunteer-btn, .volunteer-email-list, .show-deactivated-volunteers, .email-volunteer-list-btn, .add-inventory-btn {
    padding-right: 5% !important;
    padding-left: 5% !important;
    padding-bottom: 0.85% !important;
    padding-top: 0.85% !important;
    background-image: linear-gradient(to right, #29dd38 0%, #71ec82 51%, #29dd38 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    text-emphasis-color: black !important;
    border-radius: 5px !important;
    border: 1.25px solid black !important;
    width: 80% !important;
    font-weight: bold !important;
}
.show-deactivated-volunteers {
    background-image: linear-gradient(to right, #b42323 0%, #d46464 51%, #b42323 100%);
}
.email-volunteer-list-btn {
    background-image: linear-gradient(to right, #2f38af 0%, #6f7dcf 51%, #2f38af 100%) !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
}
.add-volunteer-btn:hover, .volunteer-email-list:hover, .show-deactivated-volunteers:hover, .email-volunteer-list-btn:hover, .add-inventory-btn:hover {
    background-position: right center !important;
    text-shadow: 0px 0px 10px rgba(255,255,255,3.5);
    transition: all 0.5s ease-in-out !important;
}
.volunteer-email-list, .show-deactivated-volunteers, .email-volunteer-list-btn {
    float: right !important;
    margin-right: 1.5%;
    width: auto !important;
    font-size: 90% !important;
    padding: 0.25% 0.75% 0.25% 0.75% !important;
}
.volunteer-email-list, .email-volunteer-list-btn {
    margin-right: 3.5% !important;
}
.volunteer-section-title {
    float: left;
    margin-left: 5% !important;
}


