/* ------------ ONSIES CSS ----------------------- */
.w25{width: 25% !important;}
.w55{width: 55% !important;}
.w50{margin-right: 25% !important; margin-left: 25% !important;}
.inv_label{width: 40% !important;}
.body_report{padding: 5% !important;}
.btn{border: 1px solid black !important;}
.dropdown a:hover {background-color: rgb(223, 76, 76) !important;} 
.dropbtn:hover, .dropbtn:focus {background-color: #3e8e41;}
.mid{text-align: center;}
.tinyText {font-size:10px;}
.blackback{background-color: #90aecc !important;}
.btn-success{background-color: #28a745;}
.checkID{display: inline-block !important;}
.checkIDInput{width: 150% !important;}
.centrize {text-align: center !important;}
.optional{border: 1.5px solid black !important;}
.mandatory{border: 1.5px solid red !important;}
input:not(:placeholder-shown) {border-color: hsl(0, 76%, 50%) !important;}
input:not(:placeholder-shown) {border-color: hsl(120, 76%, 50%) !important;}
.inline{display: inline-block !important; display:flex; flex-direction: row;}
.invi{display: none !important}
/* ------------ General Application -------------- */
hr
{
    width: 65% !important;
    border-top: 1.8px solid white !important;
}
.sideBtn
{
    border: 1.5px solid black !important;
    margin: 1% !important;
    margin-right: 3% !important;
    margin-left: 3% !important;
}
.bodyNone
{
    text-align: center;
    background-image: linear-gradient(rgb(255, 191, 128), rgb(255, 153, 51)) !important;
    background-attachment: fixed;
    text-align: center !important; 
    height: 100% !important; 
    width: 100% !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
}
.bodyRed
{
    text-align: center;
    background-image: linear-gradient(rgb(235, 154, 154), rgb(207, 73, 73));
    background-attachment: fixed;
}
.w20
{
    margin-right: 40%;
    margin-left: 40%;
}
.lpcsgLogo
{
    margin-right: 2%;
    height: 85%; 
    border-radius: 150px;
    border: 2px solid black;
}
.lpcLogo
{
    border-radius: 5px;
    height: 85% !important;
}
/* ------------ Registration Page ---------------- */
.operational
{
    margin-top: 2% !important;
    margin-right: 20% !important;
    margin-left: 20% !important;
    background-color: rgba(255, 228, 227, 0.42) !important;
    border: 3px solid black !important;
    margin-bottom: 4% !important;
}
#myInput:focus {outline: 3px solid #ddd;}
#myInput /* search box */
{
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 2px solid rgb(68, 5, 5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content 
{    
    background-color: #f6f6f6;
    opacity: 0.75;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header
{
    padding-top: 2%;
    padding-right: 3% !important;
    padding-left: 3% !important; 
    border-bottom: 1px solid black;
    background-color: rgba(193,66,66, 0.82);
    height: 15% !important;
}
.headerTitle
{
    font-family: 'Lobster', cursive !important; 
    margin-left: 5%;
}
.container
{ 
    height: 100% !important;
    background: url('otherFiles/pics/lpc.jpg') !important; 
    text-align: center !important; 
    width: 100% !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
    background-attachment: fixed !important;

}
.infoDiv
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 18%;
    margin-right: 18%;
}
#myList li:nth-of-type(1n+7){display: none;}
/* ------------ Admin Page ----------------------- */
.instruction
{
    margin-right:20% !important;
    margin-left: 20% !important;
} 
.midbigger
{
    width: 110% !important;
    padding: 5% !important;
    height: 5% !important;
}
.radioBtn
{
    margin-left: 35% !important;
    padding: 1% !important;
    font-size: 1.2vw !important;
}
.upper_portion_admin
{
    text-align: center;
    width: 80% !important;
    margin-right: 5% !important;
    margin-left: 5% !important;
    padding-right: 3% !important;
    padding-left: 3% !important;
}
.whiteOut /* adminFuncs */
{
    background-color: white !important ;
    border-radius: 25px !important ;
    border-right: 2px solid black !important ;
    border-left: 2px solid black !important ;
}
.ddOption /* adminFuncs */
{
    margin-left: 20% !important;
    padding: 1.5% !important;
}
/* ------------ Report Page ---------------------- */
.report_box_class
{
    text-align: center !important;
    border: 2px solid black !important;
    border-radius: 5px !important;
    padding: 1% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    background-color: white !important;

}
/* ------------ Inventory Page ------------------- */
.inv_box_class
{
    text-align: center !important;
    border: 1.5px solid black !important;
    border-radius: 4px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    background-color: rgba(238, 229, 229, 0.842) !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    margin-top: 2% !important;

}
.inv_input
{
    height: 5% !important;
    border: 1px solid rgba(50, 50, 85, 0.692) !important;
    border-radius: 4px !important;
    padding-right: 1% !important;
    padding-left: 1% !important;
    margin-right: 3% !important;
    width: 20% !important;
}
.inv_table
{
    margin-left: 5% !important;
    margin-right: 5% !important;

}
.int_input_btn
{
    height: 4% !important; 
    padding: 1% !important; 
    margin-bottom: 50% !important;
}



