@import url('https://fonts.googleapis.com/css?family=Lato');

/* ------------ ONSIES CSS ----------------------- */
.mr10{margin-right: 8% !important;}
.inv_label{width: 40% !important;}
.dropdown a:hover {background-color: rgb(223, 76, 76) !important;} 
.dropbtn:hover, .dropbtn:focus {background-color: #3e8e41;}
.mid{text-align: center;}
.centrize {text-align: center !important;}
/* input:not(:placeholder-shown) {border-color: hsl(0, 76%, 50%) !important;}
input:not(:placeholder-shown) {border-color: hsl(120, 76%, 50%) !important;} */
.inline{display: inline-block !important; display:flex; flex-direction: row;}
.invi{display: none !important}
/* ------- BODIES AND CONTAINERS ---- */
.volunteer-page-body, .report-page-body, .inventory-page-body, .admin-page-body, .index-page-body, .signups-page-body, .profile-page-body {
    text-align: center;
    background-image: white;
    background-attachment: fixed;
    font-family: 'Optima' !important;
    padding-bottom: 2.5% !important;
}
.page-sub-container {
    background-color: rgba(255, 255, 255, 0.801) !important;
    border-radius: 1.5px !important;
    border: 0.5px solid black !important;
    width: 80% !important;
    margin-left: 10% !important;
    padding: 1.5% !important;
    text-align: center;
}
.page-sub-container-volunteer {
    background-color: rgba(255, 255, 255, 0.801) !important;
    border-radius: 1.5px !important;
    width: 80% !important;
    margin-left: 10% !important;
    padding: 1.5% !important;
    text-align: center;
}
.footer
{
    position: absolute;
    bottom: 2.5% !important;
    margin-top: 2.5% !important;
    width: 100%;
    height: auto; 
    background-color: rgb(251, 223, 223);
    padding-top: 0.5% !important;
    text-align: center;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}
.shahaf-signature {
    font-size: 70% !important;
    font-weight: bolder !important;
}
.page-container {
    padding-top: 6% !important;
}
.container
{ 
    height: 100% !important;
    background: url('otherFiles/pics/lpc.jpg') !important; 
    text-align: center !important; 
    width: 100% !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
    background-attachment: fixed !important;
}
.spacebar-dark {
    font-size: 150% !important;
    font-weight: bolder !important;
    color: #303030 !important;
    border: 2px solid #303030 !important;
}
.alertify, .ajs-dialog {
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: none !important;
    border: 3px solid black !important;
}
/* ------------ Signups Page ---------------- */
.index-signups-page-header-title {
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    float: left !important;
    margin-left: 4% !important;
    width: auto !important;
    border:0px !important;
    padding-right: 2.25% !important;
    padding-left: 2.25% !important;
    font-weight: bolder;
    font-size: 150% !important;
    background-color: black;
}
.index-signups-page-header-sub-title {
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    float: left !important;
    margin-left: 7.5% !important;
    text-align: center !important;
    width: auto !important;
    border: none !important;
    font-weight: bolder;
    font-size: 130% !important;
    background-color: black;

}
.remove-signup-commit {
    color: rgb(219, 0, 0) !important;
    background-color: rgb(223, 161, 161) !important;
    width: auto !important;
    border-radius: 100% !important;
    text-shadow: 0.3px 0.3px black;
}


/* ------------ Registration Page ---------------- */
.index-registration-page-header {
    width: 100% !important;
    margin-top: 0% !important;
    height: 8.5% !important;
    overflow: hidden;
    background-color: #121212;  
    position: fixed;
    top: 0;
    z-index: 5 !important;
    /* border-bottom-right-radius: 4% !important;
    border-bottom-left-radius: 4% !important; */

}
.index-registration-page-header-title {
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    float: left !important;
    margin-left: 4% !important;
    width: auto !important;
    border:0px !important;
    padding-right: 2.25% !important;
    padding-left: 2.25% !important;
    font-weight: bolder;
    font-size: 150% !important;
    background-color: black;
    padding-bottom: 10% !important;
    padding-top: 1.75% !important;
}
.index-registration-page-header-sub-title {
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    float: left !important;
    margin-left: 7.5% !important;
    text-align: center !important;
    width: auto !important;
    border: none !important;
    font-weight: bolder;
    font-size: 130% !important;
    background-color: black;
    padding-bottom: 10% !important;
    padding-top: 1.75% !important;
}
.index-registration-page-header-image {
    height: 10% !important;
    width: auto !important;
    background-color: white !important;
    margin-right: 5% !important;
}
.index-registration-page-sg-image {
    height: 3% !important;
    width: auto !important;
    background-color: white !important;
    margin-right: 5% !important;
}
.submit-admin-login, .submit-returning-patron-login {
    background-color: #28a745 !important;
    width: 90% !important;
    padding: 0.9% 0% 0.9% 0% !important;
    text-transform: uppercase;
    transition: 0.3s !important;
    color: white !important;
    border: 0.5px solid white !important;
    margin-bottom: 0.45% !important;
}
.submit-admin-login:hover, .submit-returning-patron-login:hover {
    padding: 1.25% 0% 1.25% 0% !important;
    width: 95% !important;
    margin-bottom: 0% !important;
}
.spanish-new-member-page {
    background-color: #5E23BD !important;
    width: 80% !important;
    padding: 0.9% 0% 0.9% 0% !important;
    text-transform: uppercase;
    transition: 0.3s !important;
    color: white !important;
    border: 0.5px solid white !important;
    margin-bottom: 0.45% !important;
}
.no-active-market-message, .index-index {
    width: 70% !important;
    margin-left: 15% !important;
}
.index-registration-input{
    border: none !important;
    border-bottom: 2px solid black !important;
    width: 80% !important;
    margin-bottom: 2% !important;
    padding: 0.5% 0  0.5% 0 !important;
    transition: 0.3s !important;
}
.index-registration-input:focus {
    outline: none !important;
    border-bottom: 3px solid rgb(102, 124, 246) !important;
    transition: all 0.3s ease-in-out !important;
    font-size: 105% !important;
    font-weight: bold !important;
}
.third {
    width: 25% !important;
    margin-right: 2.5% !important;
}
.third:focus {
    width: 30% !important;
}
.half {
    width: 37% !important;
    margin-right: 2.5% !important;
}
.half:focus {
    width: 42% !important;
}
.full {
    width: 80% !important;
    margin-right: 10% !important;
    margin-left: 10% !important;
}
.full-share-icon {
    width: 80% !important;
    margin-right: 10% !important;
    margin-left: 2% !important;
}
.full:focus {
    width: 85% !important;
    margin-right: 7.5% !important;
    margin-left: 7.5% !important;
}
.full-share-icon:focus {
    width: 85% !important;
    margin-right: 7% !important;
}
.btn-submit-new-patron, .add-volunteer-btn, .add-inventory-btn {
    background-color: #28a745 !important;
    width: 80% !important;
    padding: 0.9% 0% 0.9% 0% !important;
    text-transform: uppercase;
    transition: 0.3s !important;
    color: white !important;
    border: 0.5px solid white !important;
    margin-bottom: 0.45% !important;
}
.btn-submit-new-patron:hover, .add-volunteer-btn:hover, .add-inventory-btn:hover, .spanish-new-member-page:hover {
    padding: 1.25% 0% 1.25% 0% !important;
    width: 85% !important;
    margin-bottom: 0% !important;
}

.new-member-options-list .new-member-options-list-item{
    color: #AAAAAA;
    display: block;
    position: relative;
    width: 20%;
    height: 20% !important;
}
.new-member-options-list .new-member-options-list-item .new-member-option{
    position: absolute;
    visibility: hidden;
}
.new-member-options-list .new-member-options-list-item .new-member-option-label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.new-member-options-list .new-member-options-list-item:hover .new-member-option-label{
    color: #303030 !important;
    font-weight: bolder !important;
}
.new-member-options-list .new-member-options-list-item .new-member-check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    left: 20px;
    z-index: 3;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
}
.new-member-options-list .new-member-options-list-item:hover .new-member-check {
    border: 5px solid #303030 !important;
}
.new-member-options-list .new-member-options-list-item .new-member-check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.new-member-option:checked ~ .new-member-check {
    border: 5px solid #0DFF92;
}
.new-member-option:checked ~ .new-member-check::before{
    background: #0DFF92;
}
.new-member-option:checked ~ .new-member-option-label{
    color: #0DFF92;
    font-size: 165% !important;
    font-weight: bolder !important;
}

#myInput /* search box */
{
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content 
{    
    background-color: #f6f6f6;
    opacity: 0.75;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


#myList li:nth-of-type(1n+7){display: none;}
/* ------------ Admin Page ----------------------- */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #303030e3;
    position: fixed;
    padding-top: 8% !important;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white !important;
    padding: 16px;
    text-decoration: none;
    border-bottom: 0.3px solid rgb(102, 124, 246) !important;
    border-top: 0.3px solid rgb(102, 124, 246) !important;
    transition: all 0.25s linear !important;
    outline: none;
}

.sidebar a.active {
    background-color: rgb(102, 124, 246) !important;
    color: white !important;
    outline: none;
}
.sidebar a:hover:not(.active) {
    background-color: rgb(177, 189, 253);
    color: white !important;
    outline: none;
    font-weight: bolder !important;
    font-size: 105% !important;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.change-pw-input, .choose-new-market-date {
    border: 0px solid black !important;
    background-color: transparent !important;
    background: transparent !important;
    border-bottom: 3px solid rgb(102, 124, 246) !important;
    width: 28%;
    padding: 0.5% 1% 0.75% 0.5%;
    transition: 0.3s !important;
}   

.change-pw-input:focus, .choose-new-market-date:focus{
    outline: none !important;
    width: 32%;
    font-weight: bolder !important;
    font-size: 110% !important;
    transition: all 0.35s ease-in-out !important;
}

.submit-pw-change-btn, .submit-admin-market-option, .submit-new-market-date {
    background-color: #28a745 !important;
    width: 90% !important;
    padding: 0.9% 0% 0.9% 0% !important;
    text-transform: uppercase;
    transition: 0.3s !important;
    color: white !important;
    border: 0.5px solid white !important;
    margin-bottom: 0.45% !important;
}

.submit-pw-change-btn:hover, .submit-admin-market-option:hover, .submit-new-market-date:hover {
    padding: 1.25% 0% 1.25% 0% !important;
    width: 95% !important;
    margin-bottom: 0% !important;
}

.sub-admin-page-container {
    /* background-color: rgba(255, 255, 255, 0.801) !important; */
    border-radius: 1.5px !important;
    border: 0.5px solid black !important;
    width: 90% !important;
    padding-top: 2%;
    margin-left: 5% !important;
    padding: 2.5% 0.5% 0.5% 0.5% !important;
    text-align: center;
}

#market-actions .admin-options-list{
    list-style: none;
    margin: 0;
    padding: 0 20% 0 20% !important;
    overflow: auto;
}

.admin-options-list .admin-options-list-item{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 20% !important;
}

.admin-options-list .admin-options-list-item .admin-option{
    position: absolute;
    visibility: hidden;
}

.admin-options-list .admin-options-list-item .admin-option-label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.admin-options-list .admin-options-list-item:hover .admin-option-label{
    color: #303030 !important;
    font-weight: bolder !important;
}

.admin-options-list .admin-options-list-item .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 3;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
}

.admin-options-list .admin-options-list-item:hover .check {
    border: 5px solid #303030 !important;
}

.admin-options-list .admin-options-list-item .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.admin-option:checked ~ .check {
    border: 5px solid #0DFF92;
}

.admin-option:checked ~ .check::before{
    background: #0DFF92;
}

.admin-option:checked ~ .admin-option-label{
    color: #0DFF92;
    font-size: 165% !important;
    font-weight: bolder !important;
}
/* ------------ Report Page ---------------------- */
.report_box_class{
    text-align: center !important;
    border: 2px solid black !important;
    border-radius: 5px !important;
    padding: 1% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    background-color: white !important;
}
.student-status-check{
    color: rgb(34, 226, 0) !important;
    background-color: rgb(186, 212, 192) !important;
    width: auto !important;
    border-radius: 150px;
    text-shadow: 0.3px 0.3px black;
}
.student-status-uncheck{
    color: rgb(219, 0, 0) !important;
    background-color: rgb(223, 161, 161) !important;
    width: auto !important;
    border-radius: 150px;
    text-shadow: 0.3px 0.3px black;
}
.request-pdf-report-form {
    width: 100% !important;
}
.request-pdf-report-btn {
    background-image: linear-gradient(to right, #2f38af 0%, #6f7dcf 51%, #2f38af 100%) !important;
    text-transform: uppercase;
    padding: 1% 0% 1% 0% !important;
    transition: 0.3s;
    background-size: 200% auto;
    color: white !important;
    border-radius: 3px !important;
    border: 1.25px solid black !important;
    width: 100% !important;
    font-weight: bolder !important;
}
.request-pdf-report-btn:hover{
    background-position: right center !important;
    transition: all 0.3s ease-in-out !important;
}
.select-markets {
    border-radius: 0px !important;
    padding: 1.5% !important;
    border: 0px solid black !important;
    border-bottom: 3px solid rgb(102, 124, 246) !important;
    width: 30% !important;
    text-align: center;
    transition: 0.5s !important;
}
.select-markets:focus {
    outline: none !important;
    width: 45% !important;
    border-bottom: 3px solid rgb(49, 55, 144) !important;
    transition: all 0.35s ease-in-out !important;
    margin-bottom: 20px !important;
}
.report-btn-options-container {
    text-align: center !important;
    width: 80% !important;
    margin-left: 10% !important;
    display: none;
}
.report-option-btn {
    border-radius: 7px !important;
    margin-left: 1.5% !important;
    font-size: 150% !important;
    margin-right: 1.5% !important;
    width: auto !important;
    border: none !important;
    text-shadow: 0.3px 0.3px black;
    font-weight: bolder !important;
}
/* ------------ Inventory Page ------------------- */

.add-to-inventory {
    background-color: rgb(131, 255, 137) !important;
    margin-right: 1.5% !important;
    border-radius: 150px !important;
    width: auto !important;
    border: none !important;
    text-shadow: 0.3px 0.3px black;
    font-weight: bolder !important;
}
.inv_box_class
{
    text-align: center !important;
    border: 1.5px solid black !important;
    border-radius: 4px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    background-color: rgba(255, 246, 246, 0.911) !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
    margin-top: 2% !important;

}
.inv_edit_btn-label {
    text-align: center !important;
}
.inv_edit_btn {
    /* text-align: center !important; */
    float: right !important;
    margin-right: 2% !important;
    margin-left: 2% !important;
    border: 0px solid black !important;
    border-radius: 150px !important;    
}
.add-inventory-input, .inv-edit-input {
    border: none !important;
    border-bottom: 2px solid #303030 !important;
    background-color: transparent !important;
    transition: 0.25s !important;
    padding: 0.75% 0 0.75% 0 !important;

}
.add-inventory-input:focus, .inv-edit-input:focus {
    border: none !important;
    outline: none !important;
    border-bottom: 3px solid rgb(102, 124, 246) !important;
    font-weight: bolder !important;
    font-size: 115% !important;
    transition: all o,3s linear !important;
}
.inv_table
{
    text-align: left !important;
    padding-left: 2% !important;
}
.int_input_btn
{
    height: 4% !important; 
    padding: 1% !important; 
    margin-bottom: 50% !important;
}

/* ---------- NAVIGATION BAR ---------------- */
.nav-bar {
    width: 100% !important;
    margin-top: 0% !important;
    padding-left: 3.5% !important;
    padding-top: 1.75% !important;
    background-color: black !important;
    height: 8.5% !important;
    overflow: hidden;
    background-color: #121212;  
    position: fixed;
    top: 0;
    z-index: 5 !important;
}
.nav-bar-option {
    color: white;
    float: left;
    margin-right: 3% !important;
    width: auto !important;
    border:0px !important;
    padding-right: 2.25% !important;
    padding-left: 2.25% !important;
    font-weight: bolder;
    font-size: 120% !important;
    transition: 0.42s !important;
    background-image: black;
    padding-bottom: 1% !important;}
.nav-bar-option:hover {
    border-bottom: 1.25px solid transparent;
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.55s ease-in-out !important;
    transform: 0.42s !important;
    outline: none !important;}
.nav-bar-title {
    background-image: linear-gradient(to right,rgb(134, 151, 246),rgb(102, 124, 246)) !important; /* rgb(79, 249, 255)*/
    -webkit-background-clip: text;
    color: transparent;
    float: right !important;
    margin-right: 5% !important;
    width: auto !important;
    border:0px !important;
    padding-right: 2.25% !important;
    padding-left: 2.25% !important;
    font-weight: bolder;
    font-size: 150% !important;
    background-color: black;
    padding-bottom: 10% !important;}
/* ---------- VOLUNTEERS PAGE ---------------- */
.add-volunteer-input {
    border: 0px !important;
    border-bottom: 2px solid rgb(102, 124, 246) !important;
    background-color: transparent !important;
    transition: 0.3s !important;
}
.add-volunteer-input:focus {
    border-bottom: 3px solid rgb(81, 106, 250) !important;
    outline: none !important;
    transition: all 0.3s linear !important;
    font-weight: bolder !important;
    font-size: 105% !important;
}
.show-deactivated-volunteers {
    background-image: linear-gradient(to right, #b42323 0%, #d46464 51%, #b42323 100%);
}
.email-volunteer-list-btn {
    background-image: linear-gradient(to right, #2f38af 0%, #6f7dcf 51%, #2f38af 100%) !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
}
.volunteer-email-list, .show-deactivated-volunteers, .email-volunteer-list-btn {
    float: right !important;
    margin-right: 1.5%;
    width: auto !important;
    font-size: 90% !important;
    padding: 0.25% 0.75% 0.25% 0.75% !important;
}
.volunteer-email-list, .email-volunteer-list-btn {
    margin-right: 3.5% !important;
}
.volunteer-section-title {
    float: left;
    margin-left: 5% !important;
}
.volunteer-option, .btn-remove-deactivated-volunteer, .btn-activate-volunteer {
    margin-right: 1.5% !important;
    border-radius: 150px !important;
    width: auto !important;
    border: none !important;
    text-shadow: 0.3px 0.3px black;
    font-weight: bolder !important;
}
.volunteer-option {
    float: right !important;
}
.op1 {
    background-color: black !important;
    color: white !important;
}
.op2 {
    background-color: rgb(92, 108, 255) !important;
}
.op3 {
    background-color: #6dd1ff !important;
}
.op4 {
    background-color: rgb(131, 255, 137) !important;
}
.op5 {
    background-color: rgb(253, 255, 121) !important;
}
.op6 {
    background-color: rgb(255, 141, 141) !important;
}
.op7 {
    background-color: rgb(248, 174, 125) !important;
}
.op8 {
    background-color: rgb(182, 255, 182) !important;
}
.back-to-menu-volunteer-option {
    float: left !important;
    margin-right: 35 !important;
    color: black #303030 !important;
    background-color: rgb(255, 141, 141) !important;
    font-weight: bolder !important;
    font-size: 150% !important;
}
.actiate-volunteer-option {
    margin-right: 1.5% !important;
    border-radius: 150px !important;
    width: auto !important;
    border: none !important;
    text-shadow: 1px 1px black;
    font-weight: bolder !important;
}
.btn-remove-deactivated-volunteer {
    background-color: #DC3545 !important;
    color: white !important;
}
.btn-activate-volunteer {
    background-color: #28a745 !important;
    color: white !important;
}